@import url('https://fonts.googleapis.com/css2?family=Inika&family=Inter:wght@400;700&display=swap');

:root {
  --bg-color:#EDF2EC;
  --text-color: #636060;
  --light-color: #aeaeae;
  --primary-color: #499A18;
  --primary-light-color: #D6E7D2;
  --accent-color: #E06733;
}

html, body, div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
}

button {
  cursor: pointer;
  color: var(--text-color);
}

html {
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}

header {
  padding: 42px 50px;
  background-color: var(--bg-color);
}

.header {
  margin: 0 auto;
  max-width: 1220px;
  height: 47px;

  display: grid;
  grid-template-columns: 22px 1fr 452px;
  align-items: center;
}

.header__logo {
  background: url('./images/logo_vector.svg');
  background-repeat: no-repeat;

  height: 22px;
  width: 22px;
  margin-bottom: 3px;
}

h1.header__brand {
  font-family: 'Inika', serif;
  font-size: 16px;
  font-weight: 400;
}

.header__nav ul{
  display: grid;
  gap: 46px;
  grid-template-columns: repeat(5, max-content);
  padding: 0;
  margin: 0;
  list-style: none;
}

.header__nav ul li a{
  font-family: 'Inika', serif;
  font-size: 16px;
}

/* welcome */

.welcome {
  padding: 62px 50px;
  background-color: var(--bg-color);
}

.welcome__container {
  margin: 0 auto;
  max-width: 1220px;

  display: grid;
  grid-template-columns: 0.82fr 1fr;
  gap: 18%;
}

.welcome__image {
  background: url('./images/leafs.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  height: 409px;
}

.welcome__accented {
  color: var(--primary-color);
}

.welcome__heading {
  font-weight: bold;
  font-size: 45px;
  line-height: 50px;
  margin-bottom: 44px;

}

.welcome__text {
  font-size: 20px;
  line-height: 35px;
  margin-bottom: 50px;
}

.welcome__button {
  border: 2px solid var(--accent-color);
  border-radius: 10px;
  padding: 9px 27px;
  background-color: var(--bg-color);

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

/* about */

.about {
  padding: 94px 50px;
}

.about__container {
  max-width: 1220px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1.1fr 1fr;
  align-items: center;
  gap: 5%;
}

.about__image {
  background: url('./images/houseplant1.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  height: 479px;
}

.about__accented {
  color: var(--accent-color);
}

.about__heading {
  font-family: 'Inika', serif;
  font-weight: normal;
  font-size: 40px;
  color: var(--primary-color);
  max-width: 464px;
}

.about__text {
  font-size: 20px;
  line-height: 30px;
  margin-top: 38px;
}

/* service */

.service {
  display: grid;
  justify-content: center;

  padding: 80px 50px 121px 50px;
  background-color: var(--bg-color);
}

.service-container {
  display: grid;
  gap: 90px;

  max-width: 1220px;
}

.service__content{
  display: grid;
  grid-template-columns: 372px 1fr;
  align-items: center;
  gap: 142px;
}

.service__heading {
  font-family: 'Inika', serif;
  font-size: 40px;
  font-weight: normal;
  color: var(--primary-color);
  margin: 0;
}

.service__buttons button {
  border: 1px solid var(--accent-color);
  border-radius: 4px;

  width: 160px;
  padding: 12px 40px;
  margin-right: 36px;
  background-color: var(--bg-color);

  font-family: 'Inika', serif;
  font-size: 20px;
  color: var(--accent-color);
}

.service__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 116px;
  row-gap: 54px;
}

.service-item {
  outline: 1px solid var(--light-color);
  border-radius: 20px;
  text-align: center;
}

.service-item__content {
  padding: 10px;
}

.service-item__image{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 330px;
  height: 350px;
  border-radius: 20px 20px 0 0;
}

.service-item__heading {
  font-size: 20px;
  font-weight: bold;
  color: var(--accent-color);
  margin: 0;
}

.service-item__text {
  font-size: 16px;
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 8px;
}

/* prices */

.prices {
  padding: 80px 50px 121px 50px;
}

.prices__container {
  margin: 0 auto;
  max-width: 1220px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10%;
}

.prices__heading {
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
}

.prices__teaser {
  text-align: right;
}

.prices__image {
  background: url('./images/leafs.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
  height: 174px;
  margin-top: 38px;
}

.prices__accented {
  color: var(--primary-color);
}

.prices__button {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  padding: 12px 40px;
  background-color: transparent;
  font-family: 'Inika', serif;
  font-size: 20px;
  color: var(--accent-color);
}

.accordion {
  display: grid;
  gap: 20px;
}

.accordion h3 {
  margin: 0;
}

.accordion__trigger {
  padding: 16px 20px;
  border-radius: 20px;
  background-color: var(--primary-light-color);
  border: none;

  display: grid;
  grid-template-columns: max-content 1fr 30px;
  justify-items: start;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.accordion__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
}

.accordion__subtitle {
  font-size: 12px;
}

.accordion__accented {
  font-size: 16px;
  font-weight: bold;
  color: var(--accent-color);
}

.accordion__icon {
  width: 30px;
  height: 30px;
  padding: 6px;
  border-radius: 50%;
  background-color: var(--light-color);
  color: white;
  font-size: 13px;

}

.accordion__icon::before {
  content: '⮟';
}
.accordion__icon.open::before {
  content: '⮝';
}

.accordion__panel {
  padding: 16px 20px;
  border-radius: 0 0 20px 20px;
  background-color: var(--primary-light-color);
}

.accordion__panel p{
  font-size: 16px;
}

.accordion__button {
  border: none;
  border-radius: 20px;
  padding: 12px 40px;
  background-color: white;
  font-size: 20px;
}

.accordion__trigger[aria-expanded="true"] {
  border-radius: 20px 20px 0 0;
}

/* Contact */

.contact {
  padding: 42px 50px 0;
  background-color: var(--bg-color);
}

.contact__container {
  margin: 0 auto;
  max-width: 1220px;
}

.contact__heading {
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
}

.contact__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: end;
  gap: 10%;
}

.contact__image {
  height: 497px;
  background-image: url('./images/contact.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom left;
}

.address {
  align-self: start;
  justify-self: end;
}

.contact__address {
  padding-top: 40px;
  display: grid;
  gap: 20px;
}

.key-value {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.key-value div:first-child {
  font-weight: bold;
}


.dropdown-menu-trigger {
  display: grid;
  grid-template-columns: 1fr 20px;
  align-items: center;
  justify-items: start;
  padding: 10px 30px;
  outline: 1px solid var(--primary-color);
  border-radius: 4px;
  font-size: 20px;
  background-color: var(--bg-color);
  width: 450px;
  border: none;
}

.dropdown-menu-trigger__icon{
  width: 30px;
  height: 30px;
  padding: 6px;
  border-radius: 50%;
  background-color: var(--light-color);
  color: white;
  font-size: 13px;
}

.dropdown-menu-trigger__icon::before {
  content: '⮟';
}

.dropdown-menu-trigger:focus {
  background-color: var(--primary-color);
  color: white;
}

.dropdown-menu-button {
  position: relative;
  z-index: 1000;
}

.dropdown-menu-button:focus {
  position: relative;
  background-color: var(--primary-color);
  color: white;
}

.dropdown-menu-items {
  display: none;
  position: absolute;
  outline: 1px solid var(--primary-color);
  border-radius: 4px;
  font-size: 20px;
  background-color: var(--bg-color);
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.open {
  display: grid;
}

.menuitem {
  width: 100%;
  text-align: center;
  padding: 16px 0;
}

.menuitem:hover,  .menuitem:focus {
  cursor: pointer;
  background-color: var(--primary-color);
  color: white;
}







/* font-family: 'Inika', serif;