@import url('https://fonts.googleapis.com/css2?family=Inika&family=Inter:wght@400;700&display=swap');

:root {
  --bg-color:#EDF2EC;
  --text-color: #636060;
  --light-color: #aeaeae;
  --primary-color: #3E900D;
  --primary-light-color: #D6E7D2;
  --accent-color: #E06733;
}

html, body, div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
  transition: 0.3s;
}

button {
  cursor: pointer;
  color: var(--text-color);
}

html {
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
}

header {
  padding: 40px 100px;
  background-color: var(--bg-color);
}

.header {
  margin: 0 auto;
  max-width: 1220px;
  height: 50px;

  display: grid;
  grid-template-columns: 22px 1fr 1fr;
  align-items: center;
  gap: 20px;
}

.header__logo {
  background: url('./images/logo_vector.svg');
  background-repeat: no-repeat;
  height: 22px;
  width: 22px;
  margin-bottom: 3px;
  z-index: 1000;
}

h1.header__brand {
  font-family: 'Inika', serif;
  font-size: 1.6rem;
  font-weight: 400;
}

.skip-navigation {
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
  position: absolute;
  top: 0;
  background-color: var(--primary-color);
  color: white;
  outline: none;
  padding: 10px;
  text-decoration: none;
  border-radius: 0 0 10px 10px;
}

.skip-navigation:focus {
  opacity: 1;
}

.burger {
  display: none;
}

.header-nav-items {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, max-content);
  padding: 0;
  margin: 0;
  list-style: none;
}

.header-nav-items li a{
  font-family: 'Inika', serif;
  font-size: 1.6rem;
  color: var(--primary-color);
  padding: 10px;
  text-decoration: none;
}

.header-nav-items li a:hover, .header-nav-items li a:focus{
  background-color: var(--primary-color);
  color: white;
  outline: none;
  border-radius: 10px;
}

/* welcome */

.welcome {
  padding: 40px 100px;
  background-color: var(--bg-color);
}

.welcome__container {
  margin: 0 auto;
  max-width: 1220px;

  display: grid;
  grid-template-columns: 0.8fr 1fr;
  align-items: center;
  gap: 10%;
}

.welcome__image {
  background: url('./images/leafs.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  height: 400px;
}

.welcome__accented {
  color: var(--primary-color);
}

.welcome__heading {
  font-weight: bold;
  font-size: 4rem;
  margin-bottom: 40px;
}

.welcome__text {
  font-size: 2rem;
  margin-bottom: 50px;
}

.welcome__button {
  border: 2px solid var(--accent-color);
  border-radius: 10px;
  padding: 10px 30px;
  background-color: var(--bg-color);

  font-size: 1.6rem;
  text-transform: uppercase;
}

/* service */

.service {
  padding: 40px 100px 120px;
  background-color: var(--bg-color);
}

.service-container {
  margin: 0 auto;
  max-width: 1220px;
}

.service__list {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  column-gap: 40px;
  row-gap: 40px;
}

.service-item {
  outline: 1px solid var(--light-color);
  border-radius: 20px;
  text-align: center;
}

.service-item__content {
  padding: 10px;
}

.service-item__image{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 200px;
  height: 300px;
  border-radius: 20px 20px 0 0;
}

.service-item__heading {
  font-size: 2rem;
  font-weight: bold;
  color: var(--accent-color);
  margin: 0;
}

.service-item__text {
  font-size: 1.6rem;
  margin-top: 10px;
  margin-bottom: 8px;
}


/* prices */

.prices {
  padding: 40px 100px 100px;
}

.prices__container {
  margin: 0 auto;
  max-width: 1220px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10%;
}

.prices__heading {
  font-weight: bold;
  font-size: 3.2rem;
}

.prices__teaser {
  text-align: right;
}

.prices__image {
  background: url('./images/houseplant1.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  height: 300px;
}

.prices__accented {
  color: var(--primary-color);
}

.prices__button {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  padding: 10px 40px;
  background-color: transparent;
  font-family: 'Inika', serif;
  font-size: 2rem;
  color: var(--accent-color);
}

.accordion {
  display: grid;
  gap: 20px;
}

.accordion h3 {
  margin: 0;
}

.accordion__trigger {
  padding: 16px 20px;
  border-radius: 20px;
  background-color: var(--primary-light-color);
  border: none;

  display: grid;
  grid-template-columns: max-content 1fr 30px;
  justify-items: start;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.accordion__trigger:hover, .accordion__trigger:focus{
  background-color: var(--primary-color);
  outline: none;
}

.accordion__trigger:hover .accordion__title,
.accordion__trigger:hover .accordion__subtitle,
.accordion__trigger:hover .accordion__accented {
  color: white;
}

.accordion__trigger:focus .accordion__title,
.accordion__trigger:focus .accordion__subtitle,
.accordion__trigger:focus .accordion__accented {
  color: white;
}

.accordion__title {
  font-weight: bold;
  font-size: 2rem;
}

.accordion__subtitle {
  font-size: 1.6rem;
}

.accordion__accented {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--accent-color);
}

.accordion__icon {
  width: 18px;
  height: 9px;
  background-color: var(--light-color);
  clip-path: polygon(100% 0, 0 0, 50% 100%);
}

.accordion__panel {
  display: none;
  padding: 16px 20px;
  border-radius: 0 0 20px 20px;
  background-color: var(--primary-light-color);
}

.accordion__panel p{
  font-size: 1.6rem;
}

.accordion__button {
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
  background-color: white;
  font-size: 2rem;
}

.accordion__button:hover, .accordion__button:focus {
  background-color: var(--primary-color);
  outline: none;
  color: white;
}


.accordion__trigger[aria-expanded="true"] {
  border-radius: 20px 20px 0 0;
}

/* Contact */

.contact {
  padding: 40px 100px 0;
  background-color: var(--bg-color);
}

.contact__container {
  margin: 0 auto;
  max-width: 1220px;
}

.contact__heading {
  font-weight: bold;
  font-size: 4rem;
}

.contact__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: end;
  gap: 10%;
}

.contact__image {
  height: 400px;
  background-image: url('./images/contact.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
}

.address {
  align-self: center;
  justify-self: end;
}

.contact__address {
  padding-top: 40px;
  display: grid;
  gap: 10px;
  font-size: 1.6rem;
}

.key-value {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.key-value div:first-child {
  font-weight: bold;
}

.dropdown-menu-trigger {
  display: grid;
  grid-template-columns: 1fr 30px;
  gap: 10px;
  align-items: center;
  justify-items: start;
  text-align: left;
  padding: 10px 30px;
  outline: 1px solid var(--primary-color);
  border-radius: 4px;
  font-size: 2rem;
  background-color: var(--bg-color);
  width: 450px;
  border: none;
  border-radius: 10px;
}

.dropdown-menu-trigger__icon{
  width: 18px;
  height: 9px;
  background-color: var(--light-color);
  clip-path: polygon(100% 0, 0 0, 50% 100%);
}


.dropdown-menu-trigger:hover, .dropdown-menu-trigger:focus {
  background-color: var(--primary-color);
  color: white;
}

.dropdown-menu-button {
  position: relative;
  z-index: 1000;
}

.dropdown-menu-button:focus {
  position: relative;
  background-color: var(--primary-color);
  color: white;
}

.dropdown-menu-items {
  display: none;
  position: absolute;
  outline: 1px solid var(--primary-color);
  border-radius: 4px;
  font-size: 2rem;
  background-color: var(--bg-color);
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuitem {
  width: 100%;
  text-align: center;
  padding: 16px 0;
}

.menuitem:hover,  .menuitem:focus {
  cursor: pointer;
  background-color: var(--primary-color);
  color: white;
  border-radius: 4px;
}

/* adaptive */

@media (max-width: 990px){

  header {
    padding: 40px 50px;
  }

  .welcome {
    padding: 20px 50px;
  }

  .service, .prices {
    padding: 20px 50px 50px;
  }

  .contact {
    padding: 20px 50px 0;
  }

  .welcome__heading {
    margin-bottom: 20px;
  }

  .welcome__heading,  .prices__heading,  .contact__heading {
    font-size: 3.2rem;
  }
}

@media (max-width: 790px) {

  header, .welcome {
    padding: 10px 30px;
  }

  .service, .prices {
    padding: 10px 30px 30px;
  }

  .contact {
    padding: 10px 30px 0;
  }

  .header {
    grid-template-columns: 22px 1fr 1fr;
  }

  .header-nav-items {
    display: none;
    grid-template-columns: 1fr;
    gap: 22px;
    background-color: var(--primary-light-color);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 60px 0;
    padding: 6rem 0;
    justify-items: center;
    box-shadow: 0px 4px 8px 0px var(--light-color);
  }

  .burger {
    display: grid;
    align-items: center;
    width: 48px;
    height: 40px;
    position: relative;
    justify-self: right;
    z-index: 1000;
    outline: none;
    border: none;
  }

  .burger:focus, .burger:hover {
    background-color: var(--primary-color);
    outline: none;
    border-radius: 10px;
  }

  .burger:focus span,
  .burger:focus span:before,
  .burger:focus span:after,
  .burger:hover span,
  .burger:hover span:before,
  .burger:hover span:after {
    background: white;
  }

  .burger span,
  .burger span:before,
  .burger span:after {
      position: absolute;
      right: 9px;
      width: 30px;
      height: 3px;
      border-radius: 4px;
      background: var(--primary-color);
  }

  .burger span:before,
  .burger span:after {
      content: '';
      left: 0;
  }

  .burger span:before {
      top: -10px;
  }

  .burger span:after {
      top: 10px;
  }

  .skip-navigation {
    display: none;
  }

  .header, .service-container, .contact__container {
    max-width: 400px;
  }

  .welcome__container {
    max-width: 400px;
    grid-template-columns: 1fr;
    gap: 0;
  }

  .welcome__image {
    background-position: center;
    height: 200px;
    order: 2;
  }

  .welcome__content {
    order: 1;
  }

  .welcome__text {
    font-size: 1.6rem;
  }

  .welcome__heading {
    font-size: 3.2rem;
  }

  .service__list {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;
  }

  .prices__teaser {
    display: none;
  }

  .prices__container {
    max-width: 400px;
    grid-template-columns: 1fr;
  }

  .accordion__title {
    font-size: 1.6rem;
  }

  .accordion__subtitle {
    font-size: 1.2rem;
  }

  .accordion__trigger {
    padding: 12px;
    gap: 10px;
  }

  .accordion__button {
    padding: 10px 40px;
    font-size: 1.6rem;
  }

  .accordion__panel {
    padding: 10px 12px;
  }

  .contact__content {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .contact__image {
    height: 150px;
    margin-top: 20px;
    order: 2;
  }

  .dropdown-menu-trigger {
    width: 100%;
    padding: 10px;
  }

  .address {
    justify-self: auto;
    order: 1;
  }
}

.open {
  display: grid;
}
